.page-header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 12;
  padding: 0px 12px 43px;
  height: 44px;
  display: flex;
  flex-direction: row;
  box-sizing: content-box;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
  text-align: center;
  pointer-events: none;
  background: linear-gradient(rgba(0, 0, 0, 1.24), rgba(0, 0, 0, 0));
}

@media (min-width:768px) {
  .page-header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 460px;
    z-index: 12;
    padding: 0px 0px 43px;
    height: 44px;
    display: flex;
    flex-direction: row;
    box-sizing: content-box;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 600;
    text-align: center;
    pointer-events: none;
    background: linear-gradient(rgba(0, 0, 0, 1.24), rgba(0, 0, 0, 0));
    margin-left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}

.page-header .nav-content {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all !important;
}

.page-header .nav-content .nav-item {
  color: white;
}